export SAUP_FIREBASE_API_KEY=AIzaSyBrulgB0sJlZKff4pZcarVIhVsVLlsmxQY
export SAUP_FIREBASE_AUTH_DOMAIN=smile-at-ur-phone.firebaseapp.com
export SAUP_FIREBASE_PROJECT_ID=smile-at-ur-phone
export SAUP_FIREBASE_STORAGE_BUCKET=smile-at-ur-phone.appspot.com
export SAUP_FIREBASE_MESSAGING_SENDER_ID=672092627079
export SAUP_FIREBASE_APP_ID=1:672092627079:web:1a6c42b2d37c3a871d5822
